<%=flash[:notice] if flash[:notice]%>

<p>Hey, <%= @user.fname %>. This is your profile page.</p>

<p>
	<form method="POST" action="/blog_post/new">

		<label for="user_id"></label>
		<input type="hidden" name="[post]user_id" value="<%= @user.id %>">

		<label for="created"></label>
		<input type="hidden" name="[post]created" value="<%= Time.now %>">

		<label for="blog_post">Enter text here to make a blog post:</label>
		<input type="text" name="[post]blog_post">

		<input type="submit">

	</form>
</p>

<ul>
			<% post_blog_array = @user.posts.map(&:blog_post) %>
			<% created_blog_array = @user.posts.map(&:created) %>
			<% post_blog_array.zip(created_blog_array).reverse.take(10).each do |b, c| %>
	<li>
			<%= "#{b} -posted at: #{c}" %>
	</li>
			<% end %>
</ul>

	
		

<p>
	<a href="/all_users">Check out our other users!</a>
</p>

<p>
 	<a href="/log_out">Log Out</a>
</p>

 