<div id="flash">
	<%=flash[:notice] if flash[:notice]%>
</div>

<div class="bio">
	<img src="<%=@user.profile.picture %>">
	<p><%= "#{@user.fname} #{@user.lname}"%></p>
	<p><%= "I'm a #{@user.profile.age} year old #{@user.profile.species} living in #{@user.profile.city}, #{@user.profile.state}" %></p>
	<p>Here's a short bio:</p>
	<p><%= @user.profile.bio %></p>

</div>

<p>
	<form method="POST" action="/blog_post/new">

		<label for="user_id"></label>
		<input type="hidden" name="[post]user_id" value="<%= @user.id %>">

		<label for="created"></label>
		<input type="hidden" name="[post]created" value="<%= Time.now %>">

		<label for="blog_post"></label>
		<textarea maxlength="150" name="[post]blog_post" placeholder="Got something to say?"></textarea><br>

		<input type="submit">

	</form>
</p>

<ul>
			<% post_blog_array = @user.posts.map(&:blog_post) %>
			<% created_blog_array = @user.posts.map(&:created) %>
			<% post_blog_array.zip(created_blog_array).reverse.take(10).each do |b, c| %>
	<li>
			<%= "#{b}" %>
		<ul>
			<li>
			 <%= "-posted at: #{c}" %>
			 </li>
		</ul>
	</li>
			<% end %>
</ul>

	
		
	<a href="/all_users">Check out our other users!</a>

	<a href="/profile/edit">Edit Profile</a>

 	<a href="/log_out">Log Out</a>

 